
@media screen and (min-width: 320px) {
    .forgetpassword {
        border: 1px solid #F17228 !important;
        background-color: #F17228 !important;
        border-radius: 20px;
        color: white;
    }
    .forgetpassword1::placeholder{
        color: #B5B5B5 !important;
    }
    .closedbutton{
        background-color: white;
        border: 0;
        color: #B5B5B5;

    }
    
    .forgetpassword1 {
        border: 1px solid #FFD7BF;
        border-radius: 20px;
    }
    .border-left{
        border-left: 10px solid #F17228;
    }
    .mehanic-margin{
        margin-left: 10%;
        margin-right: 10%;
    }
    .showclass{
        display: block;
    }
    .hideclass{
        display: none;
    }
    .posi{
        position: absolute;
        z-index: 1;
        top: 4%;
        margin: 0 auto;
        background-color: white;
       width: 330px;
       height: 45px;
       box-shadow: 0px 0px 40px rgba(241, 114, 40, 0.1);
    }
    
    .orange{
        color: #F17228;
    }
}
@media screen and (min-width: 768px){
    .mehanic-margin{
        margin-left:35%;
    }
}
