@media screen and (min-width: 250px) {
    .p-none {
        border-left:5px solid #F17228 ;
        color:#F17228 ;
        
        
       }
       

    .fonts {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        }

    .p-margin{
        margin: 0;
        justify-content: space-between;
        text-align: justify;
    }
}

@media screen and (min-width: 768px) {
    .p-none {
       
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        border-left:11px solid #F17228 ;
        height: 30px;
    }

    .fonts {
        font-size: 16px;
    }
}

@media screen and (min-width: 998) {
    .fonts {
        font-size: 18px;
    }
    .p-none{
        font-size: 18px;
    }
}